button {
width: 100%;
padding: 0;
margin: 0;
}
.btn-back {
background-color: transparent;
border-style: none;
font-family: light;
font-size: 20px;
}
.pagesitems {
    font-family: Comic;
    padding: 5px;
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    font-weight: bolder;
    font-size: 15px;
  list-style:none;
  border-radius: 5px;
}
