app-select-filter {  
    width:fit-content;
}

.container_search {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.405);
    gap: 10px;
}
.search_img {
    height: 15px;
    width: auto;
}
.input_search {
    letter-spacing: 1px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
}
.input_search::placeholder {
    color: rgba(0, 0, 0, 0.542);
}
.container_filters_main {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filtersContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
   
}
.filtersContainer>h4 {
    letter-spacing: 1px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
select {
    border-radius: 10px;
    opacity: 0.8;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 60px;
}

option {
    font-size: 12px !important;
    margin: 0 !important;
    padding: 0 !important;
}
button {
    display: flex;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: none;
}
        
button:hover {
    box-shadow: 0px 0px 9px 4px rgba(255,255,255,1);
    transform: scale(1.03);
}
       

//tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container_search {
        width: 60%;
    }
    .input_search {
        font-size: 25px;
    }
    button {
        font-size: 25px;
    }
    
    select {
        font-size: 18px;
        width: auto;
    }
          
    option {
        font-size: 12px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .filtersContainer>h4 {
        font-size: 25px;
    }
    .container_filters_main {
        gap: 15px;
    }
}

//pc
@media only screen and (min-width: 1025px) {
    .container_search {
        width: 55%;
    }
    button {
        
        font-size: 20px;}
  select {
    font-size: 18px;
    width: auto;
  }
  
option {
    font-size: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.container_filters_main {
    gap: 15px;
}
}