.selectedFirst {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selected-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: normal;
    overflow: scroll;
    margin: 25px 0 0 0;
}

.poster_movie_container {
    width: auto;
    height: 60%;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);    
    position: relative;
    z-index: 1;
}
.posterImage {
    border-radius: 10px;
    height: 100%;
}

.rating-overlay {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star_rate_text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    position: absolute;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: black;
}

.poster_movie_container:hover .rating-overlay {
    opacity: 1;
}

.poster_movie_container:hover .posterImage {
    opacity: 0.4; 
}
  
.info_container {
    width:75%;
    height: 78%;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_data_info {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 90%;
    color: white;
    gap: 5px;
    overflow-y: auto;
}


.titleSelected {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-size: 30px;
    word-spacing: 0.10em;
    letter-spacing: 1.8px;
}

.subtitle_content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.subTitle{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    word-spacing: 0.25em;
    letter-spacing: 1px;
}
     
.text_info {
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.back_button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 80px;
    left: 15px;
}

.back_button>img {
    width: 100%;
    height: 100%;
}

.back_button:hover {
    transition:0.2s;
    transform: scale(1.2);
}

//tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .back_button {
        width: 50px;
        height: 50px;
        top: 40px;
        left: 40px;
    }
    
    .poster_movie_container {
        height: 50%;
    }
        
    .titleSelected {
        font-size: 38px;  
    }
        
    .info_container {
        width:65%;
        height: 40%;
    }
    
    .selected-item {
        margin: 0 0 0 0;
        justify-content: center;
    }

    .subTitle{
        font-size: 23px;
    }
}

//pc
@media only screen and (min-width: 1025px) {
    .back_button {
        width: 40px;
        height: 40px;
        top: 45px;
        left: 140px;
    }
    .selected-item {
        flex-direction: row; 
        overflow:visible;
        justify-content: center;
        margin: 0 0 0 0;
    }
    
    .poster_movie_container {
        height: 78%;
    }
      

    .info_container {
        width:55%;
        height: 78%;
    }

    .titleSelected { 
        font-size: 38px;
    }

    .container_data_info {
        width: 96%;
    }

    .subTitle{
        font-size: 23px;
    }     
}