.header-app {
display: flex;
place-content: center;
align-items: center;
flex-direction: column;
margin: 3%;
width: 100%;
}
.title {
    font-family: dk;
    letter-spacing: 4px;
    color: white;
    margin: 0%;
    font-size: 290%;
  
}
.credits {
    font-weight: lighter;
   font-family: light;
   font-size: 15px;
    color: white;
    margin: 0%;
}