.selectedFirst {
    display: flex;
    width: 85%;
    flex-direction: column;
    }
    .selected-item {
        display: flex;
        flex-direction: row;
        gap: 20px;
        place-content: center;
        margin-top: 20px;
    
    }
        .posterSelected {
        width: 20%;
        height: auto;
        border-radius: 10px;
        border: 6px solid rgba(255, 255, 255, 0.4);
        
        }
        .infoSelected {
        width:55%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        display: flex;
        flex-direction: column;
        padding: 30px;
       
        }
       
    .selectedContentText, .textSelected, .titleSelected {
        font-weight: lighter;
        font-family: light;
        font-size: 25px;
        word-spacing: 0.25em;
        padding: 0;
        margin: 0;
    }
    .textSelected{
        font-weight: bolder;
        padding-bottom: 10px;
    }
    .titleSelected {
        padding-bottom: 10px;
        font-family: dk;
        font-size: 30px;
        align-self: center;
    }

    app-buttons {
        display: flex;
        border-color: white;
        width: 17%;
        margin-left: 150px;
        border-radius: 10px;
        opacity: 0.8;
        border-style: solid;
    }
    app-buttons:hover {
    box-shadow: 0px 0px 9px 4px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 9px 4px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 9px 4px rgba(255,255,255,1);
    transform: scale(1.03);
    }
   
