.footer-page {
    color: white;
    display: flex;
    place-content: center;
    align-items: center;
    gap: 5px;
    align-self: flex-end;
}
.pagination {
    gap: 10px;
    display: flex;
    place-content: center;
    align-items: center;
}
