img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
    }
    
    .infoCard {
    opacity: 0.6;
    background-color: white;
    width: 100%;
    height: 20%;
    place-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:  0 0 10px 10px;
    letter-spacing: 0.5px;
    }
    h1 {
    font-size: 18px;
    width: 97%;
    text-align: center;
    padding: 0%;
    margin: 0%;
    }
    h4 {
    margin: 0%;
    font-family: light;
    
    }